/* Calendar.css */
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  padding:1em;
}

.calendar-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.green {
  background-color: darkgreen;
}

.red {
  background-color: firebrick; 
}

.orange {
  background-color: orange; 
}

.calendar-navigation-button {
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.calendar-navigation-button:hover {
  background-color: #0056b3;
}

.calendar-header button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-header button:hover {
  background-color: #0056b3;
}

.calendar-header span {
  font-size: 20px;
  font-weight: bold;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  gap: 0px; 
  width: 100%;
}

.calendar-day, .calendar-day-header {
  height: 10px;
  padding-bottom: 100%; 
  position: relative;
}

.calendar-day {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #e9ecef; 
  color:white;
}

.calendar-day-header {
  color:white;
  font-weight: bold;
  padding:10px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.calendar-day > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.kp-index {
  font-size: smaller;
  opacity: 0.7;
  
}

@media (min-width: 601px) and (max-width: 1280px){
  .calendar-day-header{
      margin-bottom: -50px;
      
  }
  .kp-index {
      margin-top: 50px;
    }
}
@media (min-width: 1280px) {
  .calendar-day-header{
      margin-bottom: -60px;
  }
  .kp-index {
      margin-top: 50px;
    }
}
