.nav-bar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height:50px;
    width:380px;
    align-self: center;
}

#figure1, #figure2{
    width:30px;
    height:30px;
}