.widget{
    display:flex;
    flex-direction: column;
    border-radius: 30px;
    background: #0A1132;
    width: 179px;
    height: 164px;
    justify-content: space-around;
}

.widgetHeading{
    margin-top:10px;
    width:140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
    color: rgba(235, 235, 239, 0.33);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.38px;
    align-self: center;
}

.valueSection{
color: #FFF;
margin-left:25px;
font-feature-settings: 'clig' off, 'liga' off;
font-family: sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.38px;
width:fit-content;

}

#description{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.38px;
    margin-left:20px;
}

#slider2{
    width: 148.439px;
    height: 7px;
    margin:10px;
    position: fixed;
}

#pointer2{
    position:relative;
    top:1px;
}